extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros",class="img-fluid")
            .col-md-7
            h1=pagina
            blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mi turpis, feugiat eu interdum sed, condimentum in nibh. Donec purus erat, finibus a enim eu, tincidunt semper ligula. Etiam feugiat velit quis egestas ultricies. Praesent ut eleifend nisi. Etiam ultricies dapibus enim, vitae auctor lorem lobortis a. Duis eros risus, tempor at est ut, posuere mollis orci. Sed ac commodo nulla. In tempus libero eget enim vehicula blandit.

            p Integer elit massa, fringilla id pharetra et, porta id erat. Etiam sit amet dapibus tortor. Duis mollis ligula in magna egestas posuere. Mauris pharetra, dolor et volutpat efficitur, dui neque pellentesque felis, at placerat massa enim vitae magna. Phasellus tempus leo a diam vehicula imperdiet. Maecenas volutpat nunc velit, vehicula cursus neque ultricies vitae. Integer suscipit ante in lacus dictum accumsan congue venenatis massa. Donec imperdiet libero vel ornare pharetra. Quisque vehicula sapien id dui pretium sodales. Etiam pretium vel turpis vitae vulputate. Morbi tempus pharetra finibus. Nullam sed urna vel sapien viverra efficitur eget eget quam.

            p Pellentesque ac dui nec diam elementum vestibulum id ac metus. Sed viverra, mauris a efficitur scelerisque, justo elit ornare diam, eu lobortis mauris massa a metus. In in ante ex. Fusce a tortor non ipsum egestas pharetra efficitur ac lectus. Mauris ac elementum ante. Pellentesque a lectus ut nulla pellentesque molestie. Nam nulla diam, vulputate eget elit quis, fermentum lobortis sem. Etiam vel enim dignissim, pellentesque est in, feugiat odio. Suspendisse scelerisque fermentum urna, vitae eleifend tortor dignissim et. Morbi maximus rutrum leo, vel fringilla risus lacinia quis. Nulla facilisi. Aliquam consequat metus a nunc molestie, sit amet aliquet dui placerat. Nulla vel finibus augue. Maecenas auctor purus eu molestie convallis.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Pellentesque ac dui nec diam elementum vestibulum id ac metus. Sed viverra, mauris a efficitur scelerisque, justo elit ornare diam, eu lobortis mauris massa a metus. In in ante ex. Fusce a tortor non ipsum egestas pharetra efficitur ac lectus.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Pellentesque ac dui nec diam elementum vestibulum id ac metus. Sed viverra, mauris a efficitur scelerisque, justo elit ornare diam, eu lobortis mauris massa a metus. In in ante ex. Fusce a tortor non ipsum egestas pharetra efficitur ac lectus.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Pellentesque ac dui nec diam elementum vestibulum id ac metus. Sed viverra, mauris a efficitur scelerisque, justo elit ornare diam, eu lobortis mauris massa a metus. In in ante ex. Fusce a tortor non ipsum egestas pharetra efficitur ac lectus.